.metadata/
.recommenders/
RemoteSystemsTempFiles/
/pagehelper/
/fastdfs_client/
.settings/
target/
*.classpath
*.project

MANIFEST.MF
.mymetadata
/bin/
/pom.xml
.lock
.ini
.plugins/
*.iml
.idea/

